<% if @incompleted_tasks.count > 0 %>
  <div id="incompleted" class="container shadow">
    <div class="row clearfix header blue-gradient">
      <h1>Tasks</h1>
    </div>
    
    <div class="task-wrapper">
      <%= render @incompleted_tasks.order('id') %>
    </div>
  </div>
<% end -%>

<%= link_to 'New Task', new_task_path, id: 'new-task-btn', class: 'btn btn-lg btn-primary shadow' %>

<% if @completed_tasks.count > 0 %>
  <div id="completed" class="container shadow">
    <div class="row clearfix header lightgray-gradient">
      <h1>Completed tasks</h1>
    </div>
    
    <div class="task-wrapper">
      <%= render @completed_tasks.order('id') %>
    </div>
  </div>
<% end -%>

<script type="text/javascript">
  $(document).ready(function(){
    $(".task-wrapper").find(".row").hover(
      function () {
        $(this).find(".buttons").removeClass("hide");
      },
      function () {
        $(this).find(".buttons").addClass("hide");
      }
    );
  });
</script>  